<div class="Dookenstein">
<div id="myid" dojoType="dijit.layout.ContentPane" title="dookDiv" region = "left">
	<span dojoAttachPoint="displayMessage"> Failed to load game data </span>
	<br><br>
		<div dojoAttachPoint="buttonDiv"></div>

	  <button dojoType="dijit.form.Button"
			  dojoAttachEvent="onClick:_rereadText"
			  dojoAttachPoint="rereadText">Read text again</button>
	<br>
</div>
<div dojoType="dijit.layout.ContentPane" title="canvasDiv" style="float: bottom;" region = "bottom">
	<canvas id="canvas" width="300" height="150" style="position:absolute;" dojoAttachPoint="dojoCanvas"></canvas>
</div>

</div>
